
<html>
<head>
    
    <meta charset='utf-8'>
    <link rel='stylesheet' href="/css/bootstrap.css">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sistema de Cadastro</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    {{>_navbar}}
  
    <div class="container mt-4">

        {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
        {{else}}
        {{/if}}
        
       {{>_msg}}
    {{{body}}}
  
    </div>
    
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="/js/bootstrap.js"></script>

</html>